@* @model ResetPassword_VM

@{
    ViewData["Title"] = "Şifre Sıfırla";
}

<h2>Yeni Şifre Belirle</h2>

<form asp-action="ResetPassword" method="post">
    <input type="hidden" asp-for="Token" />
    <input type="hidden" asp-for="Email" />

    <div class="form-group">
        <label asp-for="NewPassword"></label>
        <input asp-for="NewPassword" class="form-control" />
        <span asp-validation-for="NewPassword" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="ConfirmPassword"></label>
        <input asp-for="ConfirmPassword" class="form-control" />
        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-success">Şifreyi Sıfırla</button>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
 *@


 @model UpdatePassword_VM
@{
    Layout = "_LayoutPersonelLogin";
    ViewData["Title"] = "Şifreyi Sıfırla";
}

<div class="content-wrapper d-flex align-items-center auth">
    <div class="row flex-grow">
        <div class="col-lg-4 mx-auto">
            <div class="auth-form-light text-left p-5">
                <div class="brand-logo text-center mb-3">
                    <img src="~/assets/images/logo.svg" alt="logo">
                </div>
                <h4>Yeni Şifre Belirle</h4>
                <h6 class="font-weight-light">Lütfen yeni şifrenizi giriniz.</h6>

                <form asp-action="UpdatePassword" method="post" class="pt-3">
                    <input type="hidden" asp-for="Token" />
                    <input type="hidden" asp-for="Email" />

                    <div class="form-group">
                        <input asp-for="NewPassword" class="form-control form-control-lg" placeholder="Yeni Şifre" />
                        <span asp-validation-for="NewPassword" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <input asp-for="ConfirmPassword" class="form-control form-control-lg" placeholder="Şifreyi Tekrar Gir" />
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div>

                    <div class="mt-3">
                        <button type="submit" class="btn btn-block btn-gradient-success btn-lg font-weight-medium auth-form-btn">
                            Şifreyi Sıfırla
                        </button>
                    </div>
                </form>

                <div class="text-center mt-4 font-weight-light">
                    <a asp-action="Login" class="text-primary">Giriş sayfasına dön</a>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
